Package: com.gabrielsiu.stickynote
Name: StickyNote
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), com.spark.libsparkcolourpicker
Version: 1.1.1
Architecture: iphoneos-arm
Description: Add a handy sticky note to your device's lock screen
Maintainer: Gabriel Siu
Author: Gabriel Siu
Section: Tweaks