<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Original Tweak</string>
		</dict>
        <dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Sticky</string>
			<key>packageIdentifier</key>
			<string>com.modmyi.sticky</string>
		</dict>
        <dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>William Vabrinskas</string>
			<key>user</key>
			<string>wvabrinskas</string>
		</dict>
	</array>
	<key>title</key>
	<string>Acknowledgements</string>
</dict>
</plist>
