<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Enable/Disable Tweak -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>
		<!-- Appearance -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
			<key>footerText</key>
			<string>Default alpha value is 0.80.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Add Blur Effect</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useBlurEffect</string>
			<key>id</key>
			<string>useBlurEffectCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Blur Style</string>
			<key>validTitles</key>
			<array>
				<string>Extra Light</string>
				<string>Light</string>
				<string>Dark</string>
				<string>Regular</string>
				<string>Prominent</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>default</key>
			<string>3</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>blurStyle</string>
			<key>id</key>
			<string>blurStyleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Note Shadow</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useNoteShadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom Note Color</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomNoteColor</string>
			<key>id</key>
			<string>useCustomNoteColorCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.gabrielsiu.stickynotecolors</string>
				<key>fallback</key>
				<string>#ffff00</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Note Color</string>
			<key>key</key>
			<string>customNoteColor</string>
			<key>id</key>
			<string>customNoteColorCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom Icon &amp; Font Color</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomFontColor</string>
			<key>id</key>
			<string>useCustomFontColorCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.gabrielsiu.stickynotecolors</string>
				<key>fallback</key>
				<string>#000000</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Icon &amp; Font Color</string>
			<key>key</key>
			<string>customFontColor</string>
			<key>id</key>
			<string>customFontColorCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom Alpha</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomAlpha</string>
			<key>id</key>
			<string>useCustomAlphaCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>default</key>
			<real>0.8</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>alphaValue</string>
			<key>id</key>
			<string>alphaCell</string>
		</dict>
		<!-- Font -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Font Size:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>20</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom Font</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomFont</string>
			<key>id</key>
			<string>useCustomFontCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Font Name:</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>customFont</string>
			<key>id</key>
			<string>customFontCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Available Fonts</string>
			<key>action</key>
			<string>openFonts</string>
			<key>id</key>
			<string>availableFontsCell</string>
		</dict>
		<!-- Sizing -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sizing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Corner Radius:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>5</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Width:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>250</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Height:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>250</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>height</string>
		</dict>
		<!-- Margin -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Margin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Top Margin:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>textViewTopMargin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Bottom Margin:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>textViewBottomMargin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Left Margin:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>textViewLeftMargin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Right Margin:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>textViewRightMargin</string>
		</dict>
		<!-- Show/Hide Button -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Show/Hide Button</string>
			<key>footerText</key>
			<string>Tip: Long press on the show/hide button to reset the position of the note.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>X-Axis Offset:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>xOffset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Y-Axis Offset:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>yOffset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom Button Size</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomButtonSize</string>
			<key>id</key>
			<string>useCustomButtonSizeCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Button Size:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>42</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>buttonSize</string>
			<key>id</key>
			<string>buttonSizeCell</string>
		</dict>
		<!-- Top Buttons -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Top Buttons</string>
			<key>footerText</key>
			<string>Enable this to add a share button to the top left of the note, allowing you to share the contents of the note.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Automatically hide top buttons</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useButtonHiding</string>
			<key>id</key>
			<string>useButtonHidingCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Delay to hide buttons:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>3</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>buttonsHideDelay</string>
			<key>id</key>
			<string>buttonsHideDelayCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom Button Size</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomTopButtonSize</string>
			<key>id</key>
			<string>useCustomTopButtonSizeCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Button Size:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>35</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>topButtonSize</string>
			<key>id</key>
			<string>topButtonSizeCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Add Share button</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>allowSharing</string>
		</dict>
		<!-- Animations -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animations</string>
			<key>footerText</key>
			<string>Default animation duration is 0.30 seconds.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Show/Hide Animation</string>
			<key>validTitles</key>
			<array>
				<string>Fade</string>
				<string>Curl</string>
				<string>Flip from Left</string>
				<string>Flip from Right</string>
				<string>Flip from Top</string>
				<string>Flip from Bottom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>animationType</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom animation duration</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>useCustomDuration</string>
			<key>id</key>
			<string>useCustomDurationCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>5.0</real>
			<key>default</key>
			<real>0.3</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>customDuration</string>
			<key>id</key>
			<string>durationCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes to the animations do not require a respring to take effect.</string>
		</dict>
		<!-- Security -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Security</string>
			<key>footerText</key>
			<string>Enable Privacy Mode to hide the contents of the sticky note when the device is locked with a passcode.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Privacy Mode</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gabrielsiu.stickynoteprefs</string>
			<key>key</key>
			<string>usePrivacyMode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: After reinstalling or updating this tweak, the privacy view may not dismiss if the device is unlocked too quickly. If this happens, you may need to lock &amp; unlock your device 1-2 times.</string>
		</dict>
		<!-- Respring -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>footerText</key>
			<string>Please respring to apply any changes (besides changes to the animations).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<!-- About/Acknowledgements -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
			<key>footerText</key>
			<string>Follow me on Twitter for support or for updates about my tweaks.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SNPAcknowledgementsController</string>
			<key>label</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Gabriel Siu</string>
			<key>user</key>
			<string>gabrielsiu_dev</string>
		</dict>
	</array>
	<key>title</key>
	<string>StickyNote</string>
</dict>
</plist>